In [1]:
from sqlalchemy import Column, Integer, String, Date, Text, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
from sqlalchemy import CheckConstraint


Base = declarative_base()

from sqlalchemy import create_engine

db_string = "postgres://postgres:admin@localhost:5432/AdvancedDatabases_lab4_5"

engine = create_engine(db_string)

In [2]:
import pandas as pd


df = pd.read_csv("superbowl.csv")
df

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California
5,Feb 1 2015,XLIX (49),New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale,Arizona
6,Feb 2 2014,XLVIII (48),Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey
7,Feb 3 2013,XLVII (47),Baltimore Ravens,34,San Francisco 49ers,31,Joe Flacco,Mercedes-Benz Superdome,New Orleans,Louisiana
8,Feb 5 2012,XLVI (46),New York Giants,21,New England Patriots,17,Eli Manning,Lucas Oil Stadium,Indianapolis,Indiana
9,Feb 6 2011,XLV (45),Green Bay Packers,31,Pittsburgh Steelers,25,Aaron Rodgers,Cowboys Stadium,Arlington,Texas
10,Feb 7 2010,XLIV (44),New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens,Florida
11,Feb 1 2009,XLIII (43),Pittsburgh Steelers,27,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida
12,Feb 3 2008,XLII (42),New York Giants,17,New England Patriots,14,Eli Manning,University of Phoenix Stadium,Glendale,Arizona
13,Feb 4 2007,XLI (41),Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens,Florida
14,Feb 5 2006,XL (40),Pittsburgh Steelers,21,Seattle Seahawks,10,Hines Ward,Ford Field,Detroit,Michigan
15,Feb 6 2005,XXXIX (39),New England Patriots,24,Philadelphia Eagles,21,Deion Branch,Alltel Stadium,Jacksonville,Florida
16,Feb 1 2004,XXXVIII (38),New England Patriots,32,Carolina Panthers,29,Tom Brady,Reliant Stadium,Houston,Texas
17,Jan 26 2003,XXXVII (37),Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego,California
18,Feb 3 2002,XXXVI (36),New England Patriots,20,St. Louis Rams,17,Tom Brady,Louisiana Superdome,New Orleans,Louisiana
19,Jan 28 2001,XXXV (35),Baltimore Ravens,34,New York Giants,7,Ray Lewis+,Raymond James Stadium,Tampa,Florida
20,Jan 30 2000,XXXIV (34),St. Louis Rams,23,Tennessee Titans,16,Kurt Warner+,Georgia Dome,Atlanta,Georgia
21,Jan 31 1999,XXXIII (33),Denver Broncos,34,Atlanta Falcons,19,John Elway+,Pro Player Stadium,Miami Gardens,Florida
22,Jan 25 1998,XXXII (32),Denver Broncos,31,Green Bay Packers,24,Terrell Davis+,Qualcomm Stadium,San Diego,California
23,Jan 26 1997,XXXI (31),Green Bay Packers,35,New England Patriots,21,Desmond Howard,Louisiana Superdome,New Orleans,Louisiana
24,Jan 28 1996,XXX (30),Dallas Cowboys,27,Pittsburgh Steelers,17,Larry Brown,Sun Devil Stadium,Tempe,Arizona
25,Jan 29 1995,XXIX (29),San Francisco 49ers,49,San Diego Chargers,26,Steve Young+,Joe Robbie Stadium,Miami Gardens,Florida
26,Jan 30 1994,XXVIII (28),Dallas Cowboys,30,Buffalo Bills,13,Emmitt Smith+,Georgia Dome,Atlanta,Georgia
27,Jan 31 1993,XXVII (27),Dallas Cowboys,52,Buffalo Bills,17,Troy Aikman+,Rose Bowl,Pasadena,California
28,Jan 26 1992,XXVI (26),Washington Redskins,37,Buffalo Bills,24,Mark Rypien,Metrodome,Minneapolis,Minnesota
29,Jan 27 1991,XXV (25),New York Giants,20,Buffalo Bills,19,Ottis Anderson,Tampa Stadium,Tampa,Florida
30,Jan 28 1990,XXIV (24),San Francisco 49ers,55,Denver Broncos,10,Joe Montana+,Louisiana Superdome,New Orleans,Louisiana
31,Jan 22 1989,XXIII (23),San Francisco 49ers,20,Cincinnati Bengals,16,Jerry Rice+,Joe Robbie Stadium,Miami Gardens,Florida
32,Jan 31 1988,XXII (22),Washington Redskins,42,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego,California
33,Jan 25 1987,XXI (21),New York Giants,39,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California
34,Jan 26 1986,XX (20),Chicago Bears,46,New England Patriots,10,Richard Dent+,Louisiana Superdome,New Orleans,Louisiana
35,Jan 20 1985,XIX (19),San Francisco 49ers,38,Miami Dolphins,16,Joe Montana+,Stanford Stadium,Palo Alto,California
36,Jan 22 1984,XVIII (18),Los Angeles Raiders,38,Washington Redskins,9,Marcus Allen+,Tampa Stadium,Tampa,Florida
37,Jan 30 1983,XVII (17),Washington Redskins,27,Miami Dolphins,17,John Riggins+,Rose Bowl,Pasadena,California
38,Jan 24 1982,XVI (16),San Francisco 49ers,26,Cincinnati Bengals,21,Joe Montana+,Pontiac Silverdome,Pontiac,Michigan
39,Jan 25 1981,XV (15),Oakland Raiders,27,Philadelphia Eagles,10,Jim Plunkett,Louisiana Superdome,New Orleans,Louisiana
40,Jan 20 1980,XIV (14),Pittsburgh Steelers,31,Los Angeles Rams,19,Terry Bradshaw+,Rose Bowl,Pasadena,California
41,Jan 21 1979,XIII (13),Pittsburgh Steelers,35,Dallas Cowboys,31,Terry Bradshaw+,Orange Bowl,Miami,Florida
42,Jan 15 1978,XII (12),Dallas Cowboys,27,Denver Broncos,10,Harvey MartinRandy White+,Superdome,New Orleans,Louisiana
43,Jan 9 1977,XI (11),Oakland Raiders,32,Minnesota Vikings,14,Fred Biletnikoff+,Rose Bowl,Pasadena,California
44,Jan 18 1976,X (10),Pittsburgh Steelers,21,Dallas Cowboys,17,Lynn Swann+,Orange Bowl,Miami,Florida
45,Jan 12 1975,IX (9),Pittsburgh Steelers,16,Minnesota Vikings,6,Franco Harris+,Tulane Stadium,New Orleans,Louisiana
46,Jan 13 1974,VIII (8),Miami Dolphins,24,Minnesota Vikings,7,Larry Csonka+,Rice Stadium,Houston,Texas
47,Jan 14 1973,VII (7),Miami Dolphins,14,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California
48,Jan 16 1972,VI (6),Dallas Cowboys,24,Miami Dolphins,3,Roger Staubach+,Tulane Stadium,New Orleans,Louisiana
49,Jan 17 1971,V (5),Baltimore Colts,16,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami,Florida
50,Jan 11 1970,IV (4),Kansas City Chiefs,23,Minnesota Vikings,7,Len Dawson+,Tulane Stadium,New Orleans,Louisiana
51,Jan 12 1969,III (3),New York Jets,16,Baltimore Colts,7,Joe Namath+,Orange Bowl,Miami,Florida
52,Jan 14 1968,II (2),Green Bay Packers,33,Oakland Raiders,14,Bart Starr+,Orange Bowl,Miami,Florida
53,Jan 15 1967,I (1),Green Bay Packers,35,Kansas City Chiefs,10,Bart Starr+,Memorial Coliseum,Los Angeles,California

In [3]:
#Create new tables in database

class Player(Base):
    __tablename__ = 'Player'
    __table_args__ = (
        CheckConstraint('LENGTH(player_name) > 0'),
        {'extend_existing' : True},
    )
    player_id = Column(Integer, primary_key=True)
    player_name = Column(String(50), nullable = False)
    
    def __repr__(self):
        return "<Player(player_id='{0}', player_name={1})>".format(self.player_id, self.player_name)
    
class State(Base):
    __tablename__ = 'State'
    __table_args__ = (
        CheckConstraint('LENGTH(state_name) > 0'),
        {'extend_existing' : True},
    )
    state_id = Column(Integer, primary_key=True)
    state_name = Column(String(50), nullable = False)
    
    def __repr__(self):
        return "<State(state_id='{0}', state_name={1})>".format(self.state_id, self.state_name)

class City(Base):
    __tablename__ = 'City'
    __table_args__ = (
        CheckConstraint('LENGTH(city_name) > 0'),
        {'extend_existing' : True},
    )
    city_id = Column(Integer, primary_key=True)
    city_name = Column(String(50), nullable = False)
    state_id = Column(Integer, ForeignKey('State.state_id'))
    
    def __repr__(self):
        return "<City(city_id='{0}', city_name={1}, state_id={2})>".format(self.city_id, self.city_name, self.state_id)
    
class Stadium(Base):
    __tablename__ = 'Stadium'
    __table_args__ = (
        CheckConstraint('LENGTH(stadium_name) > 0'),
        {'extend_existing' : True},
    )
    stadium_id = Column(Integer, primary_key=True)
    stadium_name = Column(String(50), nullable = False)
    city_id = Column(Integer, ForeignKey('City.city_id'))
    
    def __repr__(self):
        return "<Stadium(stadium_id='{0}', stadium_name={1}, city_id={2})>".format(self.stadium_id, self.stadium_name, self.city_id)

class Team(Base):
    __tablename__ = 'Team'
    __table_args__ = (
        CheckConstraint('LENGTH(team_name) > 0'),
        {'extend_existing' : True},
    )
    team_id = Column(Integer, primary_key=True)
    team_name = Column(String(50), nullable = False)
    
    def __repr__(self):
        return "<Team(team_id='{0}', team_name={1})>".format(self.team_id, self.team_name)
    
class SuperBowl(Base):
    __tablename__ = 'SuperBowl'
    __table_args__ = (
        CheckConstraint('LENGTH(superbowl_name) > 0'),
        {'extend_existing' : True},
    )
    superbowl_id = Column(Integer, primary_key=True)
    superbowl_name = Column(String(50), nullable = False)
    
    def __repr__(self):
        return "<SuperBowl(superbowl_id='{0}', superbowl_name={1})>".format(self.superbowl_id, self.superbowl_name)

class Match(Base):
    __tablename__ = 'Match'
    __table_args__ = (
        CheckConstraint('winner_pts >= 0'),
        CheckConstraint('loser_pts >= 0'),
        {'extend_existing' : True},
    )
    match_id = Column(Integer, primary_key=True)
    date = Column(Date, nullable = False)
    superbowl_id = Column(Integer, ForeignKey('SuperBowl.superbowl_id'))
    winner_id = Column(Integer, ForeignKey('Team.team_id'))
    winner_pts = Column(Integer, nullable = False)
    loser_id = Column(Integer, ForeignKey('Team.team_id'))
    loser_pts = Column(Integer, nullable = False)
    mvp_id = Column(Integer, ForeignKey('Player.player_id'))
    stadium_id = Column(Integer, ForeignKey('Stadium.stadium_id'))
    
    def __repr__(self):
        return "<Match(match_id='{0}', date={1}, superbowl_id={2}, winner_id={3}, winner_pts={4}, loser_id={5}, loser_pts={6}, mvp_id={7}, stadium_id={8})>".format(self.match_id, self.date, self.superbowl_id, self.winner_id, self.winner_pts, self.loser_id, self.loser_pts, self.mvp_id, self.stadium_id)

Base.metadata.create_all(engine)

In [4]:
players_list = pd.DataFrame(columns=['player_name'])

for elem in df["MVP"].unique():
    players_list = players_list.append({'player_name': elem}, ignore_index=True)

players_list.index.name = 'player_id'
players_list

                         player_name
player_id
0                    Patrick Mahomes
1                     Julian Edelman
2                         Nick Foles
3                          Tom Brady
4                         Von Miller
5                      Malcolm Smith
6                         Joe Flacco
7                        Eli Manning
8                      Aaron Rodgers
9                         Drew Brees
10                   Santonio Holmes
11                    Peyton Manning
12                        Hines Ward
13                      Deion Branch
14                    Dexter Jackson
15                        Ray Lewis+
16                      Kurt Warner+
17                       John Elway+
18                    Terrell Davis+
19                    Desmond Howard
20                       Larry Brown
21                      Steve Young+
22                     Emmitt Smith+
23                      Troy Aikman+
24                       Mark Rypien
25                    Ottis Anderson
26                      Joe Montana+
27                       Jerry Rice+
28                     Doug Williams
29                        Phil Simms
30                     Richard Dent+
31                     Marcus Allen+
32                     John Riggins+
33                      Jim Plunkett
34                   Terry Bradshaw+
35         Harvey MartinRandy White+
36                 Fred Biletnikoff+
37                       Lynn Swann+
38                    Franco Harris+
39                     Larry Csonka+
40                        Jake Scott
41                   Roger Staubach+
42                      Chuck Howley
43                       Len Dawson+
44                       Joe Namath+
45                       Bart Starr+

In [5]:
states_list = pd.DataFrame(columns=['state_name'])

for elem in df["State"].unique():
    states_list = states_list.append({'state_name': elem}, ignore_index=True)

states_list.index.name = 'state_id'
states_list

          state_name
state_id
0            Florida
1            Georgia
2          Minnesota
3              Texas
4         California
5            Arizona
6         New Jersey
7          Louisiana
8            Indiana
9           Michigan

In [6]:
teams_set = set()

for elem in df["Winner"].unique():
    teams_set.add(elem)
    
for elem in df["Loser"].unique():
    teams_set.add(elem)

teams_list = pd.DataFrame(columns=['team_name'])
for elem in teams_set:
    teams_list = teams_list.append({'team_name': elem}, ignore_index=True)

teams_list.index.name = 'team_id'
teams_list

                    team_name
team_id
0             New York Giants
1        Tampa Bay Buccaneers
2          New Orleans Saints
3         Los Angeles Raiders
4          Indianapolis Colts
5           Arizona Cardinals
6            Seattle Seahawks
7         Pittsburgh Steelers
8          Cincinnati Bengals
9             Oakland Raiders
10             Dallas Cowboys
11             Miami Dolphins
12          Minnesota Vikings
13            Atlanta Falcons
14              Buffalo Bills
15            Baltimore Colts
16             St. Louis Rams
17          Carolina Panthers
18       New England Patriots
19           Los Angeles Rams
20         Kansas City Chiefs
21              Chicago Bears
22           Tennessee Titans
23           Baltimore Ravens
24          Green Bay Packers
25              New York Jets
26         San Diego Chargers
27        Philadelphia Eagles
28        San Francisco 49ers
29        Washington Redskins
30             Denver Broncos

In [7]:
superbowl_list = pd.DataFrame(columns=['superbowl_name'])

for elem in df["SB"].unique():
    superbowl_list = superbowl_list.append({'superbowl_name': elem}, ignore_index=True)

superbowl_list.index.name = 'superbowl_id'

In [8]:
cities_set = set()
for index, city in enumerate(df['City']):
    cities_set.add((city, df['State'][index]))
    
def state_to_state_id(state):
    for state_name, state_id in zip(states_list['state_name'], states_list.index):
        if state_name == state:
            return state_id
    return 0

cities_list = pd.DataFrame(columns=['city_name', 'state_id'])
for elem in cities_set:
    cities_list = cities_list.append({'city_name': elem[0], 'state_id': state_to_state_id(elem[1])}, ignore_index=True)
    
cities_list.index.name = 'city_id'
cities_list

               city_name state_id
city_id
0            Minneapolis        2
1        East Rutherford        6
2            Santa Clara        4
3                Atlanta        1
4              Arlington        3
5                Pontiac        9
6               Pasadena        4
7                  Tempe        5
8                Houston        3
9            New Orleans        7
10               Detroit        9
11             San Diego        4
12                 Tampa        0
13          Jacksonville        0
14                 Miami        0
15           Los Angeles        4
16          Indianapolis        8
17         Miami Gardens        0
18             Palo Alto        4
19              Glendale        5

In [9]:
stadiums_set = set()
for index, stadium in enumerate(df['Stadium']):
    stadiums_set.add((stadium, df['City'][index]))
    
def city_to_city_id(city):
    for city_name, city_id in zip(cities_list['city_name'], cities_list.index):
        if city_name == city:
            return city_id
    return 0

stadiums_list = pd.DataFrame(columns=['stadium_name', 'city_id'])
for elem in stadiums_set:
    stadiums_list = stadiums_list.append({'stadium_name': elem[0], 'city_id': city_to_city_id(elem[1])}, ignore_index=True)
    
stadiums_list.index.name = 'stadium_id'
stadiums_list

                             stadium_name city_id
stadium_id
0                              Ford Field      10
1           University of Phoenix Stadium      19
2                          Levi's Stadium       2
3                             NRG Stadium       8
4                      Joe Robbie Stadium      17
5                            Rice Stadium       8
6                          Tulane Stadium       9
7                 Mercedes-Benz Superdome       9
8                               Metrodome       0
9                          Alltel Stadium      13
10                              Rose Bowl       6
11                        Reliant Stadium       8
12                       Stanford Stadium      18
13                        Dolphin Stadium      17
14                      Lucas Oil Stadium      16
15                      U.S. Bank Stadium       0
16                    Louisiana Superdome       9
17                  Raymond James Stadium      12
18                    Jack Murphy Stadium      11
19                      Hard Rock Stadium      17
20                        MetLife Stadium       1
21                              Superdome       9
22                       Qualcomm Stadium      11
23                      Sun Devil Stadium       7
24                           Georgia Dome       3
25                      Memorial Coliseum      15
26                  Mercedes-Benz Stadium       3
27                            Orange Bowl      14
28                          Tampa Stadium      12
29                     Pontiac Silverdome       5
30                     Pro Player Stadium      17
31                       Sun Life Stadium      17
32                        Cowboys Stadium       4

In [10]:
def superbowl_to_superbowl_id(sb):
    for superbowl_name, superbowl_id in zip(superbowl_list['superbowl_name'], superbowl_list.index):
        if superbowl_name == sb:
            return superbowl_id
    return 0

def team_to_team_id(team):
    for team_name, team_id in zip(teams_list['team_name'], teams_list.index):
        if team_name == team:
            return team_id
    return 0

def player_to_player_id(player):
    for player_name, player_id in zip(players_list['player_name'], players_list.index):
        if player_name == player:
            return player_id
    return 0

def stadium_to_stadium_id(stadium):
    for stadium_name, stadium_id in zip(stadiums_list['stadium_name'], stadiums_list.index):
        if stadium_name == stadium:
            return stadium_id
    return 0

match_list = pd.DataFrame(columns=['date', 'superbowl_id', 'winner_id', 'loser_id', 'loser_pts', 'mvp_id', 'stadium_id'])
for date, sb, winner, winner_pts, loser, loser_pts, mvp, stadium in zip(df['Date'],
                                                                        df['SB'],
                                                                        df['Winner'],
                                                                        df['Winner Pts'],
                                                                        df['Loser'],
                                                                        df['Loser Pts'],
                                                                        df['MVP'],
                                                                        df['Stadium']):
    match_list = match_list.append({'date': date,
                                    'superbowl_id': superbowl_to_superbowl_id(sb),
                                    'winner_id': team_to_team_id(winner),
                                    'winner_pts': winner_pts,
                                    'loser_id': team_to_team_id(loser),
                                    'loser_pts': loser_pts,
                                    'mvp_id': player_to_player_id(mvp),
                                    'stadium_id': stadium_to_stadium_id(stadium)}, ignore_index=True)
match_list.index.name = 'match_id'
match_list

,date,superbowl_id,winner_id,loser_id,loser_pts,mvp_id,stadium_id,winner_pts
match_id,,,,,,,,
0,Feb 2 2020,0,20,28,20,0,19,31.0
1,Feb 3 2019,1,18,19,3,1,26,13.0
2,Feb 4 2018,2,27,18,33,2,15,41.0
3,Feb 5 2017,3,18,13,28,3,3,34.0
4,Feb 7 2016,4,30,17,10,4,2,24.0
5,Feb 1 2015,5,18,6,24,3,1,28.0
6,Feb 2 2014,6,6,30,8,5,20,43.0
7,Feb 3 2013,7,23,28,31,6,7,34.0
8,Feb 5 2012,8,0,18,17,7,14,21.0
9,Feb 6 2011,9,24,7,25,8,32,31.0
10,Feb 7 2010,10,2,4,17,9,31,31.0
11,Feb 1 2009,11,7,5,23,10,17,27.0
12,Feb 3 2008,12,0,18,14,7,1,17.0
13,Feb 4 2007,13,4,21,17,11,13,29.0
14,Feb 5 2006,14,7,6,10,12,0,21.0
15,Feb 6 2005,15,18,27,21,13,9,24.0
16,Feb 1 2004,16,18,17,29,3,11,32.0
17,Jan 26 2003,17,1,9,21,14,22,48.0
18,Feb 3 2002,18,18,16,17,3,16,20.0
19,Jan 28 2001,19,23,0,7,15,17,34.0
20,Jan 30 2000,20,16,22,16,16,24,23.0
21,Jan 31 1999,21,30,13,19,17,30,34.0
22,Jan 25 1998,22,30,24,24,18,22,31.0
23,Jan 26 1997,23,24,18,21,19,16,35.0
24,Jan 28 1996,24,10,7,17,20,23,27.0
25,Jan 29 1995,25,28,26,26,21,4,49.0
26,Jan 30 1994,26,10,14,13,22,24,30.0
27,Jan 31 1993,27,10,14,17,23,10,52.0
28,Jan 26 1992,28,29,14,24,24,8,37.0
29,Jan 27 1991,29,0,14,19,25,28,20.0
30,Jan 28 1990,30,28,30,10,26,16,55.0
31,Jan 22 1989,31,28,8,16,27,4,20.0
32,Jan 31 1988,32,29,30,10,28,18,42.0
33,Jan 25 1987,33,0,30,20,29,10,39.0
34,Jan 26 1986,34,21,18,10,30,16,46.0
35,Jan 20 1985,35,28,11,16,26,12,38.0
36,Jan 22 1984,36,3,29,9,31,28,38.0
37,Jan 30 1983,37,29,11,17,32,10,27.0
38,Jan 24 1982,38,28,8,21,26,29,26.0
39,Jan 25 1981,39,9,27,10,33,16,27.0
40,Jan 20 1980,40,7,19,19,34,10,31.0
41,Jan 21 1979,41,7,10,31,34,27,35.0
42,Jan 15 1978,42,10,30,10,35,21,27.0
43,Jan 9 1977,43,9,12,14,36,10,32.0
44,Jan 18 1976,44,7,10,17,37,27,21.0
45,Jan 12 1975,45,7,12,6,38,6,16.0
46,Jan 13 1974,46,11,12,7,39,5,24.0
47,Jan 14 1973,47,11,29,7,40,25,14.0
48,Jan 16 1972,48,10,11,3,41,6,24.0
49,Jan 17 1971,49,15,10,13,42,27,16.0
50,Jan 11 1970,50,20,12,7,43,6,23.0
51,Jan 12 1969,51,25,15,7,44,27,16.0
52,Jan 14 1968,52,24,9,14,45,27,33.0
53,Jan 15 1967,53,24,20,10,45,25,35.0

In [11]:
players_list.to_sql('Player', engine, if_exists='append')
states_list.to_sql('State', engine, if_exists='append')
teams_list.to_sql('Team', engine, if_exists='append')
superbowl_list.to_sql('Country', engine, if_exists='append')
cities_list.to_sql('City', engine, if_exists='append')
stadiums_list.to_sql('Stadium', engine, if_exists='append')
match_list.to_sql('Match', engine, if_exists='append')